# BioPlex 2017 Data Formatting

This script takes data regarding transcription factors and their targets retrieved as the BioPlex_2017 dataset from the ENRICHR website. This data was retrieved on Thursday July 6, 2017. The PubMed ID of the citation pertaining to this data is 28514442, and the citation is Huttlin et al. (2017) Nature doi: 10.1038/nature22366.

## Import packages necessary for following program

In [1]:
%run /home/maayanlab/Desktop/Projects/KEA3/Scripts/init.ipy

## Create a dataframe from a file containing BioPlex_2017 dataset

In [ ]:
colnames = ['']*2001
colnames

bioplex = pd.read_table('BioPlex_ppi. gmt', names = colnames)

subset = bioplex.copy()

subset.dropna(how = 'all', inplace = True)

subset.replace(np.nan, '', inplace = True)

subset.head(10)

/home/maayanlab/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,,.1,.2,.3,.4,.5,.6,.7,.8,.9,...,.1991,.1992,.1993,.1994,.1995,.1996,.1997,.1998,.1999,.2000
0,ATXN2,,"APOBEC3D,1.0","DDX6,1.0","RBFOX2,1.0","CELA2B,1.0","NUFIP2,1.0","FAM98A,1.0","FGL1,1.0","CELF5,1.0",...,,,,,,,,,,
1,ARSA,,"DNASE2B,1.0","ZBTB43,1.0","KLK5,1.0","PTPRK,1.0","PLAUR,1.0","SUMF1,1.0","MESDC2,1.0","GALNS,1.0",...,,,,,,,,,,
2,MED20,,"LMO2,1.0","MED1,1.0","CDK19,1.0","CCNC,1.0","MED19,1.0","MED7,1.0","GDF9,1.0","MED18,1.0",...,,,,,,,,,,
3,TCEAL1,,"USP7,1.0","EYA3,1.0","STAT3,1.0","USP4,1.0","UROS,1.0","PTPN11,1.0","HAUS7,1.0","C14ORF179,1.0",...,,,,,,,,,,
4,PRPF19,,"AQR,1.0","CCDC18,1.0","C2ORF3,1.0","BUD31,1.0","CDC5L,1.0","TFIP11,1.0","CRNKL1,1.0","CDC40,1.0",...,,,,,,,,,,
5,MYF6,,"TBC1D4,1.0","IRGC,1.0","TCF12,1.0","ID4,1.0","NES,1.0","DISC1,1.0","TCF4,1.0","TCF3,1.0",...,,,,,,,,,,
6,SEMG2,,"ZMYND17,1.0","S100A3,1.0","SMURF2,1.0","HBB,1.0","FAM26D,1.0","SYT16,1.0","CALML3,1.0","BSPRY,1.0",...,,,,,,,,,,
7,KLHL10,,"KIRREL,1.0","PRMT3,1.0","STAT2,1.0","HSPA8,1.0","FBXL17,1.0","COPS5,1.0","RAD51C,1.0","COPS4,1.0",...,,,,,,,,,,
8,C5orf34,,"IL17RA,1.0","DOCK5,1.0","AKD1,1.0","RFXANK,1.0","THBS3,1.0","IQCF1,1.0","DNAJC7,1.0","IRF3,1.0",...,,,,,,,,,,
9,CCDC67,,"HIP1,1.0","DGKH,1.0","JUN,1.0","SPAG5,1.0","ANXA13,1.0","C17ORF70,1.0","C15ORF23,1.0","GOLGA3,1.0",...,,,,,,,,,,

In [ ]:
for column in subset:
    for index, row in subset['%s' %column].iteritems():
        s = row
        if ',1.0' in s:
            s = s.split(',1.0', 1)[0]
        subset.loc[index, '%s' %column] = s

subset.head()

In [ ]:
#loop through each row of the data frame
#make the index ('') the dataframe's key
#make each item of rowData into part of a list
#store this list as a value for the index key of the dictionary


#Once the dictionary is completed, we can use the dictionary to drop values which are NaN from the
#list (or can have used list comprehension beforehand to filter the list and 
#keep NaNs from becoming values in the dataframe)

subset.set_index('', inplace = True)

d = {}

for index, rowData in subset.iterrows():
    lst = []
    sr = pd.Series(rowData)
    for i in range(0, len(sr)):
        if sr[i] == '':
            lst = lst + [i]
    sr.drop(sr.index[lst], inplace = True)
    d[index] = list(sr)

d

In [ ]:
#Create an empty dataframe to house entries from the dictionary
#for each key, list value pairs
df = pd.DataFrame(columns = ['Protein_1', 'Protein_2'])
df

In [ ]:
for key, value in d.items():
    lst = value
    for i in range(0, len(lst)):
        term = lst[i]
        print(term)
        df2 = pd.DataFrame([[key, term], [term, key]], columns = ['Protein_1', 'Protein_2'])    
        print([[key, term], [term, key]])
        df = df.append(df2)

In [ ]:
#If any, drop duplicates 
df.drop_duplicates(inplace = True)

df.reset_index(drop = True, inplace = True)

df.head()

In [20]:
df['PubMed_ID'] = '28514442'

In [21]:
#Insert first four columns for .sig file format (NaNs)
df.insert(1, 'NA-1', str(np.nan))
df.insert(2, 'NA-2', str(np.nan))
df.insert(3, 'NA-3', str(np.nan))
df.insert(4, 'NA-4', str(np.nan))

#Insert column corresponding to sign 
df.insert(6, 'Sign', str(np.nan))

#Insert column specifying interaction type as unknown
df.insert(7, 'Interaction', str(np.nan))

#View dataframe
df.head()

  Protein_1 NA-1 NA-2 NA-3 NA-4 Protein_2 Sign Interaction PubMed_ID
0     ATXN2  nan  nan  nan  nan  APOBEC3D  nan         nan  28514442
1  APOBEC3D  nan  nan  nan  nan     ATXN2  nan         nan  28514442
2     ATXN2  nan  nan  nan  nan      DDX6  nan         nan  28514442
3      DDX6  nan  nan  nan  nan     ATXN2  nan         nan  28514442
4     ATXN2  nan  nan  nan  nan    RBFOX2  nan         nan  28514442

In [22]:
#Create dictionary 'sigd' with index numbers as keys
sigd = dict([(key, '') for key in df.index])

# loop through rows with iterrows()
for index, rowData in df.iterrows():
    line = ('\t'.join(rowData))
    sigd[index] = line
    
#Transfer tab-separated info into a new txt file
#Make sure to include in ReadMe corresponding column names
with open('BioPlexsig.txt', 'w') as openfile:
    for index in sigd:
        openfile.write(str(sigd[index]) + '\n')