In [134]:
import pandas as pd
import numpy as np

In [200]:
#Read in SIG File for use
sig = pd.read_table("/home/maayanlab/Desktop/Projects/KEA3/RegPhos/RegPhosMousesig.txt", header=None)

In [201]:
sig.iloc[100]

0                                      FMS_Mus musculus
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
5                                                 Csf1r
6                                                   NaN
7                                                   NaN
8                                                   NaN
9                                                   NaN
10                                                    ?
11                                      Phosphorylation
12    11297560,2160591,8981370,11297560,1833648,9380...
Name: 100, dtype: object

In [202]:
#If SIG file is not input, convert GMT file into SIG file for use

#Load in GMT file of choice (this is just for example)
gmt ="/home/maayanlab/Desktop/Projects/KEA3/PhosphoELM/PhosphoELM.gmt"

def GMT_to_SIG(gmt):
    with open(gmt, 'r') as openfile:
        gmt_data = [x.strip().split('\t') for x in openfile.readlines()]

    gmt_dict = {x[0]: x[2:] for x in gmt_data}

    sig = pd.DataFrame([[x[0], y] for x in gmt_data for y in x[2:]])

    #Insert first four columns for .sig file format (NaNs)
    sig.insert(1, 'NA-1', str(np.nan))
    sig.insert(2, 'NA-2', str(np.nan))
    sig.insert(3, 'NA-3', str(np.nan))
    sig.insert(4, 'NA-4', str(np.nan))

    #Insert first four columns for .sig file format (NaNs)
    sig.insert(6, 'NA-5', str(np.nan))
    sig.insert(7, 'NA-6', str(np.nan))
    sig.insert(8, 'NA-7', str(np.nan))
    sig.insert(9, 'NA-8', str(np.nan))

    #Insert column corresponding to sign 
    sig.insert(10, 'Sign', str(np.nan))

    #Insert column specifying interaction type as unknown
    sig.insert(11, 'Interaction', str(np.nan))

    #Insert column specifying interaction type as unknown
    sig.insert(12, 'PubMed', str(np.nan))

    #Create dictionary 'sigd' with index numbers as keys
    sigd = dict([(key, '') for key in sig.index])

    # loop through rows with iterrows()
    for index, rowData in sig.iterrows():
        line = ('\t'.join(rowData))
        sigd[index] = line

    gmt_name = gmt.split(".", 2)[0]

    #Transfer tab-separated info into a new txt file
    #Make sure to include in ReadMe corresponding column names
    with open('%s.sig' %gmt_name, 'w') as openfile:
        for index in sigd:
            openfile.write(str(sigd[index]) + '\n')

    sig = pd.read_table("%s.sig" %gmt_name, header = None)

    return sig

In [124]:
#Create engine for localhost
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:systemsbiology@localhost:3306/test')

In [125]:
#Read in species dataframe for use in program
species_dataframe = pd.read_sql_query('SELECT * FROM species', engine)
species_dataframe.head()

   id  species_name
0   1  Homo sapiens
1   2  Mus musculus

In [157]:
sig = GMT_to_SIG(gmt)
sig.tail(30)

,0,1,2,3,4,5,6,7,8,9,10,11,12
1631,Csk_Homo sapiens,NaN,NaN,NaN,NaN,FYN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1632,Csk_Homo sapiens,NaN,NaN,NaN,NaN,LYN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1633,Csk_Homo sapiens,NaN,NaN,NaN,NaN,FGR,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1634,Csk_Homo sapiens,NaN,NaN,NaN,NaN,SRC,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1635,Csk_Homo sapiens,NaN,NaN,NaN,NaN,PTPRC,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1636,MAPK7_Homo sapiens,NaN,NaN,NaN,NaN,ETS1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1637,MAPK7_Homo sapiens,NaN,NaN,NaN,NaN,MEF2C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1638,MAPK7_Homo sapiens,NaN,NaN,NaN,NaN,MAP2K5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1639,MAPK7_Homo sapiens,NaN,NaN,NaN,NaN,SGK1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1640,MAPK7_Homo sapiens,NaN,NaN,NaN,NaN,MEF2A,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1641,FGFR1_Homo sapiens,NaN,NaN,NaN,NaN,FGFR1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1642,FGFR1_Homo sapiens,NaN,NaN,NaN,NaN,RPS6KA3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1643,FGFR1_Homo sapiens,NaN,NaN,NaN,NaN,BCAR1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1644,FGFR1_Homo sapiens,NaN,NaN,NaN,NaN,CTTN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1645,FGFR1_Homo sapiens,NaN,NaN,NaN,NaN,SYNCRIP,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1646,PKD1_Homo sapiens,NaN,NaN,NaN,NaN,HSPB1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1647,PKD1_Homo sapiens,NaN,NaN,NaN,NaN,RIN1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1648,PKD1_Homo sapiens,NaN,NaN,NaN,NaN,PRKD1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1649,PKD1_Homo sapiens,NaN,NaN,NaN,NaN,PPP1R14A,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1650,PKD1_Homo sapiens,NaN,NaN,NaN,NaN,HDAC7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1651,DYRK1A_Homo sapiens,NaN,NaN,NaN,NaN,AMPH,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1652,DYRK1A_Homo sapiens,NaN,NaN,NaN,NaN,DNM1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1653,DYRK1A_Homo sapiens,NaN,NaN,NaN,NaN,FOXO1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1654,DYRK1A_Homo sapiens,NaN,NaN,NaN,NaN,SNCA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1655,DYRK1A_Homo sapiens,NaN,NaN,NaN,NaN,SPRY2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1656,p70S6K_Homo sapiens,NaN,NaN,NaN,NaN,RPS6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1657,p70S6K_Homo sapiens,NaN,NaN,NaN,NaN,RPS6KB1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1658,p70S6K_Homo sapiens,NaN,NaN,NaN,NaN,MTOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1659,p70S6K_Homo sapiens,NaN,NaN,NaN,NaN,EIF4B,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1660,p70S6K_Homo sapiens,NaN,NaN,NaN,NaN,POLDIP3,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [203]:
 #Add species_fk to all of the interactions
interaction_dataframe = sig[[0, 5]]
interaction_dataframe['species'] = [x.split('_')[-1] for x in interaction_dataframe[0]]

for index, species in interaction_dataframe.species.iteritems():
    if species in ['HUMAN', 'human', 'Human']:
        interaction_dataframe.species[index] = 'Homo sapiens'
    if species in ['MOUSE', 'mouse', 'Mouse']:
        interaction_dataframe.species[index] = 'Mus musculus'

pairs = interaction_dataframe.merge(species_dataframe, left_on='species', right_on='species_name', how='left')
pairs.drop('species', axis = 1, inplace = True)
pairs.drop('species_name', axis =1, inplace = True)
pairs.columns = ['source', 'target', 'species_id']

#View Dataframe
#No need to drop duplicates (no duplicates in this dataframe)
#Remove indication of species from name of the source
pairs['source'] = [x.split('_')[:-1] for x in interaction_dataframe[0]]
pairs['source'] = ['_'.join(x) for x in pairs['source']]

# Need to lowercase and title names of mouse kinases to later
#prevent id-ing of these kinases to the human equivalent
for index,rowData in pairs.iterrows():
    if rowData.species_id == 2:
        pairs.source[index] = rowData.source.lower().title()
        pairs.target[index] = rowData.target.lower()
    if rowData.species_id == 1:
        pairs.source[index] = rowData.source.upper()

for index,rowData in pairs.iterrows():
    if rowData.species_id == 2:
        pairs.source[index] = rowData.source.lower().title()
    if rowData.species_id == 1:
        pairs.source[index] = rowData.source.upper()
pairs.drop_duplicates(inplace=True)

##EVERYTHING WORKS PROPERLY UP TO HERE

pairs

/home/maayanlab/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/maayanlab/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

            source    target  species_id
0            Gsk3B  Arhgap31           2
1        Pka_Group      Ryr1           2
2             Pkg1      Ryr1           2
3           Camk2D      Ryr2           2
4            Gsk3B    Dpysl2           2
5            Gsk3B      Pten           2
6        Ck2_Group      Pten           2
7            Rock1      Pten           2
8        Pkc_Group    Stxbp1           2
9             Cdk5    Stxbp1           2
10            Pak2     Mknk1           2
11            Tyk2   Il13ra1           2
12   Autocatalysis     Epha8           2
13           Epha8     Epha8           2
14   Autocatalysis    Map3k5           2
15            Melk    Map3k5           2
16          Map3K6    Map3k5           2
17          Map3K5    Map3k5           2
18            Akt1     Chek1           2
19             Atm     Chek1           2
20             Atr     Chek1           2
21   Autocatalysis      Clk2           2
22            Akt2      Clk2           2
23           Gsk3B    Notch2           2
24           Hipk1      Daxx           2
25           Gsk3B     Axin1           2
26            Ck1E      Per1           2
27           Dapk3     Dapk3           2
28           Tssk1      Tsks           2
29           Tssk2      Tsks           2
..             ...       ...         ...
718         Map2K7     Mapk9           2
719         Map2K4     Mapk9           2
720           Cdc2    Incenp           2
721           Cdk2    Mcm3ap           2
722           Akt1     Gsk3b           2
723           Rsk2     Gsk3b           2
724           Sgk3     Gsk3b           2
725          Pkaca     Gsk3b           2
726           Akt2    Stxbp4           2
727            Src      Cav2           2
728      Pkb_Group     Foxo4           2
729          Pkaca     Kcnd2           2
730           Ikkb    Nfkbia           2
731           Ikke    Nfkbia           2
732          Ck2A1    Nfkbia           2
733     Ampk_Group      Gys1           2
734      Src_Group      Gab2           2
735          Stlk3     Stk39           2
736            Src     Trip6           2
737      Pka_Group    Snapin           2
738           Pkct     Pdpk1           2
739    Camk2_Group     Mecp2           2
740           Pkg1   Ppp1r17           2
741  Autocatalysis   Eif2ak1           2
742    Camk1_Group     Hdac5           2
743      Pkd_Group     Hdac5           2
744           Pkd1     Hdac5           2
745     Ampk_Group     Hdac5           2
746  Autocatalysis     Stk25           2
747      Pka_Group     Itpr2           2

[748 rows x 3 columns]

In [205]:
#Create separate dataframes for the source and target genes
source_genes = pd.DataFrame(dict(gene_symbol = pairs.source, species_fk = pairs.species_id))
source_genes.drop_duplicates(inplace=True)
source_genes.reset_index(inplace=True, drop=True)
target_genes = pd.DataFrame(dict(gene_symbol = pairs.target, species_fk = pairs.species_id))
target_genes.drop_duplicates(inplace = True)
target_genes.reset_index(inplace=True, drop=True)

#Concat these genes into a single dataframe
genes = pd.concat([source_genes, target_genes])
genes.drop_duplicates(inplace=True)

#Use INSERT_IGNORE to add these genes and targets to the dataframe
insert_ignore = "INSERT IGNORE INTO genes (gene_symbol, species_fk) VALUES" + ', '.join(['("{gene_symbol}", {species_fk})'.format(**rowData) for index, rowData in genes.iterrows()])
# Create or add new entries to the genes table using 'insert-ignore' functionality
engine.execute(insert_ignore)
genes_df = pd.read_sql_query('SELECT * FROM genes', engine)

#Use genes table to isolate fk of these source and target genes
#fk will later be used when creating the interaction database
sources = pairs.drop('target', axis =1)
source_fk = pairs.merge(genes_df, left_on='source', right_on='gene_symbol', how='left')
sources

/home/maayanlab/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1062, "Duplicate entry 'Map3k5-2' for key 'GENE_SPECIES'")
  result = self._query(query)
/home/maayanlab/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1062, "Duplicate entry 'Camk2a-2' for key 'GENE_SPECIES'")
  result = self._query(query)
/home/maayanlab/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1062, "Duplicate entry 'Map2k1-2' for key 'GENE_SPECIES'")
  result = self._query(query)
/home/maayanlab/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1062, "Duplicate entry 'Map3k1-2' for key 'GENE_SPECIES'")
  result = self._query(query)
/home/maayanlab/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1062, "Duplicate entry 'Igf1r-2' for key 'GENE_SPECIES'")
  result = self._query(query)
/home/maayanlab/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1062, "Duplicate entry 'Dyrk1a-2' for key 'GENE_SPECIES'")
  result = self._query(query)
/home/maayanlab/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1062, "Duplicate entry 'Map3k7-2' for key 'GENE_SPECIES'")
  result = self._query(query)
/home/maayanlab/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1062, "Duplicate entry 'Pik3cg-2' for key 'GENE_SPECIES'")
  result = self._query(query)
/home/maayanlab/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1062, "Duplicate entry 'Gsk3b-2' for key 'GENE_SPECIES'")
  result = self._query(query)

            source  species_id
0            Gsk3B           2
1        Pka_Group           2
2             Pkg1           2
3           Camk2D           2
4            Gsk3B           2
5            Gsk3B           2
6        Ck2_Group           2
7            Rock1           2
8        Pkc_Group           2
9             Cdk5           2
10            Pak2           2
11            Tyk2           2
12   Autocatalysis           2
13           Epha8           2
14   Autocatalysis           2
15            Melk           2
16          Map3K6           2
17          Map3K5           2
18            Akt1           2
19             Atm           2
20             Atr           2
21   Autocatalysis           2
22            Akt2           2
23           Gsk3B           2
24           Hipk1           2
25           Gsk3B           2
26            Ck1E           2
27           Dapk3           2
28           Tssk1           2
29           Tssk2           2
..             ...         ...
718         Map2K7           2
719         Map2K4           2
720           Cdc2           2
721           Cdk2           2
722           Akt1           2
723           Rsk2           2
724           Sgk3           2
725          Pkaca           2
726           Akt2           2
727            Src           2
728      Pkb_Group           2
729          Pkaca           2
730           Ikkb           2
731           Ikke           2
732          Ck2A1           2
733     Ampk_Group           2
734      Src_Group           2
735          Stlk3           2
736            Src           2
737      Pka_Group           2
738           Pkct           2
739    Camk2_Group           2
740           Pkg1           2
741  Autocatalysis           2
742    Camk1_Group           2
743      Pkd_Group           2
744           Pkd1           2
745     Ampk_Group           2
746  Autocatalysis           2
747      Pka_Group           2

[748 rows x 2 columns]

In [214]:
s = 'Map3K5'
l = s.lower().title()
l

'Map3K5'

In [206]:
source_fk = sources.merge(genes_df, left_on='source', right_on='gene_symbol', how='left')

In [207]:
for index, rowData in genes_df.iterrows():
    print(rowData)

id                 1
gene_symbol    Gsk3B
species_fk         2
description     None
Name: 0, dtype: object
id                     2
gene_symbol    Pka_Group
species_fk             2
description         None
Name: 1, dtype: object
id                3
gene_symbol    Pkg1
species_fk        2
description    None
Name: 2, dtype: object
id                  4
gene_symbol    Camk2D
species_fk          2
description      None
Name: 3, dtype: object
id                     5
gene_symbol    Ck2_Group
species_fk             2
description         None
Name: 4, dtype: object
id                 6
gene_symbol    Rock1
species_fk         2
description     None
Name: 5, dtype: object
id                     7
gene_symbol    Pkc_Group
species_fk             2
description         None
Name: 6, dtype: object
id                8
gene_symbol    Cdk5
species_fk        2
description    None
Name: 7, dtype: object
id                9
gene_symbol    Pak2
species_fk        2
description    None
Name: 8, dtype: object
id               10
gene_symbol    Tyk2
species_fk        2
description    None
Name: 9, dtype: object
id                        11
gene_symbol    Autocatalysis
species_fk                 2
description             None
Name: 10, dtype: object
id                12
gene_symbol    Epha8
species_fk         2
description     None
Name: 11, dtype: object
id               13
gene_symbol    Melk
species_fk        2
description    None
Name: 12, dtype: object
id                 14
gene_symbol    Map3K6
species_fk          2
description      None
Name: 13, dtype: object
id                 15
gene_symbol    Map3K5
species_fk          2
description      None
Name: 14, dtype: object
id               16
gene_symbol    Akt1
species_fk        2
description    None
Name: 15, dtype: object
id               17
gene_symbol     Atm
species_fk        2
description    None
Name: 16, dtype: object
id               18
gene_symbol     Atr
species_fk        2
description    None
Name: 17, dtype: object
id               19
gene_symbol    Akt2
species_fk        2
description    None
Name: 18, dtype: object
id                20
gene_symbol    Hipk1
species_fk         2
description     None
Name: 19, dtype: object
id               21
gene_symbol    Ck1E
species_fk        2
description    None
Name: 20, dtype: object
id                22
gene_symbol    Dapk3
species_fk         2
description     None
Name: 21, dtype: object
id                23
gene_symbol    Tssk1
species_fk         2
description     None
Name: 22, dtype: object
id                24
gene_symbol    Tssk2
species_fk         2
description     None
Name: 23, dtype: object
id               25
gene_symbol    Jnk1
species_fk        2
description    None
Name: 24, dtype: object
id               26
gene_symbol    Jnk2
species_fk        2
description    None
Name: 25, dtype: object
id               27
gene_symbol    Jnk3
species_fk        2
description    None
Name: 26, dtype: object
id                     28
gene_symbol    Mapk_Group
species_fk              2
description          None
Name: 27, dtype: object
id                29
gene_symbol    Zap70
species_fk         2
description     None
Name: 28, dtype: object
id               30
gene_symbol    P38B
species_fk        2
description    None
Name: 29, dtype: object
id               31
gene_symbol    Erk4
species_fk        2
description    None
Name: 30, dtype: object
id               32
gene_symbol    Erk3
species_fk        2
description    None
Name: 31, dtype: object
id               33
gene_symbol    Plk2
species_fk        2
description    None
Name: 32, dtype: object
id                    34
gene_symbol    Ck1_Group
species_fk             2
description         None
Name: 33, dtype: object
id               35
gene_symbol    Egfr
species_fk        2
description    None
Name: 34, dtype: object
id               36
gene_symbol     Csk
species_fk        2
description    None
Name: 35, dtype: object
id               37
gene_symbol     Src
species_fk        2
description    None
Name: 36, dtype: object
id               38
gene_symbol    Cdc2
species_fk        2
description    None
Name: 37, dtype: object
id                     39
gene_symbol    Ampk_Group
species_fk              2
description          None
Name: 38, dtype: object
id               40
gene_symbol    Frap
species_fk        2
description    None
Name: 39, dtype: object
id               41
gene_symbol    Pkce
species_fk        2
description    None
Name: 40, dtype: object
id                       42
gene_symbol    Titin Kinase
species_fk                2
description            None
Name: 41, dtype: object
id                    43
gene_symbol    Sgk_Group
species_fk             2
description         None
Name: 42, dtype: object
id               44
gene_symbol    Ikkb
species_fk        2
description    None
Name: 43, dtype: object
id                    45
gene_symbol    Ikk_Group
species_fk             2
description         None
Name: 44, dtype: object
id                     46
gene_symbol    Mark_Group
species_fk              2
description          None
Name: 45, dtype: object
id                47
gene_symbol    Pkaca
species_fk         2
description     None
Name: 46, dtype: object
id                               48
gene_symbol    Src-Type Tyr-Kinases
species_fk                        2
description                    None
Name: 47, dtype: object
id               49
gene_symbol    Abl1
species_fk        2
description    None
Name: 48, dtype: object
id                    50
gene_symbol    Cdk_Group
species_fk             2
description         None
Name: 49, dtype: object
id               51
gene_symbol     Mos
species_fk        2
description    None
Name: 50, dtype: object
id               52
gene_symbol    Erk2
species_fk        2
description    None
Name: 51, dtype: object
id               53
gene_symbol    Erk1
species_fk        2
description    None
Name: 52, dtype: object
id               54
gene_symbol    Rsk2
species_fk        2
description    None
Name: 53, dtype: object
id               55
gene_symbol    Pim2
species_fk        2
description    None
Name: 54, dtype: object
id                56
gene_symbol    Hipk4
species_fk         2
description     None
Name: 55, dtype: object
id               57
gene_symbol    Prpk
species_fk        2
description    None
Name: 56, dtype: object
id                58
gene_symbol    Nuak1
species_fk         2
description     None
Name: 57, dtype: object
id                   59
gene_symbol    Mapkapk5
species_fk            2
description        None
Name: 58, dtype: object
id               60
gene_symbol    Insr
species_fk        2
description    None
Name: 59, dtype: object
id               61
gene_symbol    Pdk1
species_fk        2
description    None
Name: 60, dtype: object
id               62
gene_symbol     Fyn
species_fk        2
description    None
Name: 61, dtype: object
id               63
gene_symbol    Abl2
species_fk        2
description    None
Name: 62, dtype: object
id                 64
gene_symbol    Pdgfrb
species_fk          2
description      None
Name: 63, dtype: object
id                   65
gene_symbol    Mapkapk2
species_fk            2
description        None
Name: 64, dtype: object
id                66
gene_symbol    Ck2A1
species_fk         2
description     None
Name: 65, dtype: object
id               67
gene_symbol     Hck
species_fk        2
description    None
Name: 66, dtype: object
id                68
gene_symbol    Camk4
species_fk         2
description     None
Name: 67, dtype: object
id                69
gene_symbol    Bark1
species_fk         2
description     None
Name: 68, dtype: object
id               70
gene_symbol     Fms
species_fk        2
description    None
Name: 69, dtype: object
id               71
gene_symbol    Jak2
species_fk        2
description    None
Name: 70, dtype: object
id               72
gene_symbol     Lck
species_fk        2
description    None
Name: 71, dtype: object
id                      73
gene_symbol    Gsk3B_Group
species_fk               2
description           None
Name: 72, dtype: object
id                74
gene_symbol    Ttbk1
species_fk         2
description     None
Name: 73, dtype: object
id                75
gene_symbol    Mark1
species_fk         2
description     None
Name: 74, dtype: object
id                76
gene_symbol    Brsk1
species_fk         2
description     None
Name: 75, dtype: object
id                77
gene_symbol    Brsk2
species_fk         2
description     None
Name: 76, dtype: object
id               78
gene_symbol    Mst1
species_fk        2
description    None
Name: 77, dtype: object
id               79
gene_symbol    Cdk7
species_fk        2
description    None
Name: 78, dtype: object
id               80
gene_symbol    Wee1
species_fk        2
description    None
Name: 79, dtype: object
id                81
gene_symbol    Wee1B
species_fk         2
description     None
Name: 80, dtype: object
id                      82
gene_symbol    Tyr-Kinases
species_fk               2
description           None
Name: 81, dtype: object
id                 83
gene_symbol    Camk2A
species_fk          2
description      None
Name: 82, dtype: object
id               84
gene_symbol    Cdk4
species_fk        2
description    None
Name: 83, dtype: object
id                   85
gene_symbol    Mapkapk3
species_fk            2
description        None
Name: 84, dtype: object
id               86
gene_symbol    Trkb
species_fk        2
description    None
Name: 85, dtype: object
id               87
gene_symbol    Pkca
species_fk        2
description    None
Name: 86, dtype: object
id               88
gene_symbol     Met
species_fk        2
description    None
Name: 87, dtype: object
id               89
gene_symbol    P38A
species_fk        2
description    None
Name: 88, dtype: object
id               90
gene_symbol    P38G
species_fk        2
description    None
Name: 89, dtype: object
id               91
gene_symbol    Plk3
species_fk        2
description    None
Name: 90, dtype: object
id                92
gene_symbol    Hipk2
species_fk         2
description     None
Name: 91, dtype: object
id                          93
gene_symbol    Inisoform Hmg-I
species_fk                   2
description               None
Name: 92, dtype: object
id                        94
gene_symbol    Isoform Hmg-Y
species_fk                 2
description             None
Name: 93, dtype: object
id               95
gene_symbol    Msk1
species_fk        2
description    None
Name: 94, dtype: object
id                96
gene_symbol    Fgfr3
species_fk         2
description     None
Name: 95, dtype: object
id                      97
gene_symbol    Camk2_Group
species_fk               2
description           None
Name: 96, dtype: object
id                98
gene_symbol    Rock2
species_fk         2
description     None
Name: 97, dtype: object
id               99
gene_symbol    Aurb
species_fk        2
description    None
Name: 98, dtype: object
id              100
gene_symbol    Pkcb
species_fk        2
description    None
Name: 99, dtype: object
id              101
gene_symbol     Syk
species_fk        2
description    None
Name: 100, dtype: object
id              102
gene_symbol    Cdk2
species_fk        2
description    None
Name: 101, dtype: object
id              103
gene_symbol    Ck1D
species_fk        2
description    None
Name: 102, dtype: object
id              104
gene_symbol     Lyn
species_fk        2
description    None
Name: 103, dtype: object
id                105
gene_symbol    Dyrk1B
species_fk          2
description      None
Name: 104, dtype: object
id              106
gene_symbol     Ctk
species_fk        2
description    None
Name: 105, dtype: object
id              107
gene_symbol     Lok
species_fk        2
description    None
Name: 106, dtype: object
id              108
gene_symbol    Pkn1
species_fk        2
description    None
Name: 107, dtype: object
id                    109
gene_symbol    Rock_Group
species_fk              2
description          None
Name: 108, dtype: object
id               110
gene_symbol    Dnapk
species_fk         2
description     None
Name: 109, dtype: object
id               111
gene_symbol    Baz1B
species_fk         2
description     None
Name: 110, dtype: object
id                   112
gene_symbol    Rsk_Group
species_fk             2
description         None
Name: 111, dtype: object
id              113
gene_symbol    Pkcd
species_fk        2
description    None
Name: 112, dtype: object
id              114
gene_symbol    Ddr1
species_fk        2
description    None
Name: 113, dtype: object
id              115
gene_symbol     Ack
species_fk        2
description    None
Name: 114, dtype: object
id                116
gene_symbol    Map3K1
species_fk          2
description      None
Name: 115, dtype: object
id              117
gene_symbol    Grk3
species_fk        2
description    None
Name: 116, dtype: object
id              118
gene_symbol     Ret
species_fk        2
description    None
Name: 117, dtype: object
id                     119
gene_symbol    Pdgfr_Group
species_fk               2
description           None
Name: 118, dtype: object
id               120
gene_symbol    Pdhk4
species_fk         2
description     None
Name: 119, dtype: object
id                   121
gene_symbol    Pkb_Group
species_fk             2
description         None
Name: 120, dtype: object
id              122
gene_symbol    Sik2
species_fk        2
description    None
Name: 121, dtype: object
id              123
gene_symbol     Kdr
species_fk        2
description    None
Name: 122, dtype: object
id              124
gene_symbol    Plk1
species_fk        2
description    None
Name: 123, dtype: object
id              125
gene_symbol    Jak1
species_fk        2
description    None
Name: 124, dtype: object
id              126
gene_symbol     Fer
species_fk        2
description    None
Name: 125, dtype: object
id              127
gene_symbol    Pak1
species_fk        2
description    None
Name: 126, dtype: object
id              128
gene_symbol    Wnk1
species_fk        2
description    None
Name: 127, dtype: object
id              129
gene_symbol     Kis
species_fk        2
description    None
Name: 128, dtype: object
id                  130
gene_symbol    Pctaire1
species_fk            2
description        None
Name: 129, dtype: object
id              131
gene_symbol    Host
species_fk        2
description    None
Name: 130, dtype: object
id              132
gene_symbol    Mnk1
species_fk        2
description    None
Name: 131, dtype: object
id                      133
gene_symbol    P70S6K_Group
species_fk                2
description            None
Name: 132, dtype: object
id              134
gene_symbol    Pkd1
species_fk        2
description    None
Name: 133, dtype: object
id               135
gene_symbol    Epha4
species_fk         2
description     None
Name: 134, dtype: object
id              136
gene_symbol    Pask
species_fk        2
description    None
Name: 135, dtype: object
id              137
gene_symbol    Cdk6
species_fk        2
description    None
Name: 136, dtype: object
id               138
gene_symbol    Ephb2
species_fk         2
description     None
Name: 137, dtype: object
id               139
gene_symbol    Stlk3
species_fk         2
description     None
Name: 138, dtype: object
id                            140
gene_symbol    Tropomyosin Kinase
species_fk                      2
description                  None
Name: 139, dtype: object
id                141
gene_symbol    Pik3Cg
species_fk          2
description      None
Name: 140, dtype: object
id              142
gene_symbol    Mnk2
species_fk        2
description    None
Name: 141, dtype: object
id                143
gene_symbol    Map2K1
species_fk          2
description      None
Name: 142, dtype: object
id                144
gene_symbol    Map2K2
species_fk          2
description      None
Name: 143, dtype: object
id                145
gene_symbol    Haspin
species_fk          2
description      None
Name: 144, dtype: object
id              146
gene_symbol    Aurc
species_fk        2
description    None
Name: 145, dtype: object
id              147
gene_symbol    Msk2
species_fk        2
description    None
Name: 146, dtype: object
id              148
gene_symbol    Aura
species_fk        2
description    None
Name: 147, dtype: object
id              149
gene_symbol    Ck1A
species_fk        2
description    None
Name: 148, dtype: object
id              150
gene_symbol     Fgr
species_fk        2
description    None
Name: 149, dtype: object
id                   151
gene_symbol    Jnk_Group
species_fk             2
description         None
Name: 150, dtype: object
id               152
gene_symbol    Dapk1
species_fk         2
description     None
Name: 151, dtype: object
id                     153
gene_symbol    Camk1_Group
species_fk               2
description           None
Name: 152, dtype: object
id              154
gene_symbol    Tie2
species_fk        2
description    None
Name: 153, dtype: object
id              155
gene_symbol    Rsk5
species_fk        2
description    None
Name: 154, dtype: object
id              156
gene_symbol    Pkcz
species_fk        2
description    None
Name: 155, dtype: object
id              157
gene_symbol    Ikka
species_fk        2
description    None
Name: 156, dtype: object
id              158
gene_symbol     Yes
species_fk        2
description    None
Name: 157, dtype: object
id              159
gene_symbol    Lkb1
species_fk        2
description    None
Name: 158, dtype: object
id               160
gene_symbol    Taok1
species_fk         2
description     None
Name: 159, dtype: object
id              161
gene_symbol    Tie1
species_fk        2
description    None
Name: 160, dtype: object
id              162
gene_symbol     Fes
species_fk        2
description    None
Name: 161, dtype: object
id               163
gene_symbol    Mark2
species_fk         2
description     None
Name: 162, dtype: object
id              164
gene_symbol     Sik
species_fk        2
description    None
Name: 163, dtype: object
id                 165
gene_symbol    Cdc42Bp
species_fk           2
description       None
Name: 164, dtype: object
id              166
gene_symbol     Abl
species_fk        2
description    None
Name: 165, dtype: object
id                167
gene_symbol    Camkk2
species_fk          2
description      None
Name: 166, dtype: object
id              168
gene_symbol    Pak3
species_fk        2
description    None
Name: 167, dtype: object
id               169
gene_symbol    Igf1R
species_fk         2
description     None
Name: 168, dtype: object
id              170
gene_symbol    Ilk1
species_fk        2
description    None
Name: 169, dtype: object
id              171
gene_symbol     Nlk
species_fk        2
description    None
Name: 170, dtype: object
id              172
gene_symbol    Sgk1
species_fk        2
description    None
Name: 171, dtype: object
id               173
gene_symbol    Mark3
species_fk         2
description     None
Name: 172, dtype: object
id              174
gene_symbol     Fak
species_fk        2
description    None
Name: 173, dtype: object
id              175
gene_symbol    Pim3
species_fk        2
description    None
Name: 174, dtype: object
id              176
gene_symbol    Pak4
species_fk        2
description    None
Name: 175, dtype: object
id              177
gene_symbol    Pak7
species_fk        2
description    None
Name: 176, dtype: object
id              178
gene_symbol    Pak5
species_fk        2
description    None
Name: 177, dtype: object
id              179
gene_symbol    Rsk1
species_fk        2
description    None
Name: 178, dtype: object
id                180
gene_symbol    P70S6K
species_fk          2
description      None
Name: 179, dtype: object
id              181
gene_symbol    Pkct
species_fk        2
description    None
Name: 180, dtype: object
id              182
gene_symbol    Pkg2

Name: 206, dtype: object
id                   208
gene_symbol    Src_Group
species_fk             2
description         None
Name: 207, dtype: object
id                   209
gene_symbol    Pkd_Group
species_fk             2
description         None
Name: 208, dtype: object
id                  210
gene_symbol    Arhgap31
species_fk            2
description        None
Name: 209, dtype: object
id              211
gene_symbol    Ryr1
species_fk        2
description    None
Name: 210, dtype: object
id              212
gene_symbol    Ryr2
species_fk        2
description    None
Name: 211, dtype: object
id                213
gene_symbol    Dpysl2
species_fk          2
description      None
Name: 212, dtype: object
id              214
gene_symbol    Pten
species_fk        2
description    None
Name: 213, dtype: object
id                215
gene_symbol    Stxbp1
species_fk          2
description      None
Name: 214, dtype: object
id               216
gene_symbol    Mknk1
species_fk         2
description     None
Name: 215, dtype: object
id                 217
gene_symbol    Il13ra1
species_fk           2
description       None
Name: 216, dtype: object
id               218
gene_symbol    Chek1
species_fk         2
description     None
Name: 217, dtype: object
id              219
gene_symbol    Clk2
species_fk        2
description    None
Name: 218, dtype: object
id                220
gene_symbol    Notch2
species_fk          2
description      None
Name: 219, dtype: object
id              221
gene_symbol    Daxx
species_fk        2
description    None
Name: 220, dtype: object
id               222
gene_symbol    Axin1
species_fk         2
description     None
Name: 221, dtype: object
id              223
gene_symbol    Per1
species_fk        2
description    None
Name: 222, dtype: object
id              224
gene_symbol    Tsks
species_fk        2
description    None
Name: 223, dtype: object
id                 225
gene_symbol    Bcl2l11
species_fk           2
description       None
Name: 224, dtype: object
id              226
gene_symbol     Lat
species_fk        2
description    None
Name: 225, dtype: object
id              227
gene_symbol    Snca
species_fk        2
description    None
Name: 226, dtype: object
id              228
gene_symbol    Eif6
species_fk        2
description    None
Name: 227, dtype: object
id                 229
gene_symbol    Pip5k1c
species_fk           2
description       None
Name: 228, dtype: object
id               230
gene_symbol    Birc5
species_fk         2
description     None
Name: 229, dtype: object
id                  231
gene_symbol    Ppargc1a
species_fk            2
description        None
Name: 230, dtype: object
id              232
gene_symbol    Ulk1
species_fk        2
description    None
Name: 231, dtype: object
id                233
gene_symbol    Mybpc3
species_fk          2
description      None
Name: 232, dtype: object
id                 234
gene_symbol    Tnfaip1
species_fk           2
description       None
Name: 233, dtype: object
id              235
gene_symbol    Tcap
species_fk        2
description    None
Name: 234, dtype: object
id               236
gene_symbol    Kcnj1
species_fk         2
description     None
Name: 235, dtype: object
id               237
gene_symbol    Aurkc
species_fk         2
description     None
Name: 236, dtype: object
id               238
gene_symbol    Ikbkg
species_fk         2
description     None
Name: 237, dtype: object
id                239
gene_symbol    Cacng2
species_fk          2
description      None
Name: 238, dtype: object
id              240
gene_symbol     Dcx
species_fk        2
description    None
Name: 239, dtype: object
id              241
gene_symbol    Odc1
species_fk        2
description    None
Name: 240, dtype: object
id              242
gene_symbol     Fos
species_fk        2
description    None
Name: 241, dtype: object
id              243
gene_symbol     Myc
species_fk        2
description    None
Name: 242, dtype: object
id              244
gene_symbol    Tp53
species_fk        2
description    None
Name: 243, dtype: object
id               245
gene_symbol    Fabp4
species_fk         2
description     None
Name: 244, dtype: object
id                246
gene_symbol    Prkaca
species_fk          2
description      None
Name: 245, dtype: object
id              247
gene_symbol     Kit
species_fk        2
description    None
Name: 246, dtype: object
id               248
gene_symbol    Krt18
species_fk         2
description     None
Name: 247, dtype: object
id               249
gene_symbol    Ptprc
species_fk         2
description     None
Name: 248, dtype: object
id                250
gene_symbol    Polr2a
species_fk          2
description      None
Name: 249, dtype: object
id              251
gene_symbol     En2
species_fk        2
description    None
Name: 250, dtype: object
id               252
gene_symbol    Pde6g
species_fk         2
description     None
Name: 251, dtype: object
id               253
gene_symbol    Csf1r
species_fk         2
description     None
Name: 252, dtype: object
id               254
gene_symbol    Ctla4
species_fk         2
description     None
Name: 253, dtype: object
id              255
gene_symbol    Cdh1
species_fk        2
description    None
Name: 254, dtype: object
id              256
gene_symbol    Fcor
species_fk        2
description    None
Name: 255, dtype: object
id               257
gene_symbol    Myod1
species_fk         2
description     None
Name: 256, dtype: object
id              258
gene_symbol    Bcl2
species_fk        2
description    None
Name: 257, dtype: object
id              259
gene_symbol    Mapt
species_fk        2
description    None
Name: 258, dtype: object
id                   260
gene_symbol    Hist1h2bn
species_fk             2
description         None
Name: 259, dtype: object
id                   261
gene_symbol    Hist1h2bm
species_fk             2
description         None
Name: 260, dtype: object
id              262
gene_symbol    Rrm2
species_fk        2
description    None
Name: 261, dtype: object
id              263
gene_symbol    Rara
species_fk        2
description    None
Name: 262, dtype: object
id              264
gene_symbol    Cdk1
species_fk        2
description    None
Name: 263, dtype: object
id              265
gene_symbol    Krt8
species_fk        2
description    None
Name: 264, dtype: object
id               266
gene_symbol    Itpr1
species_fk         2
description     None
Name: 265, dtype: object
id               267
gene_symbol    Cd79a
species_fk         2
description     None
Name: 266, dtype: object
id              268
gene_symbol     App
species_fk        2
description    None
Name: 267, dtype: object
id              269
gene_symbol    Myog
species_fk        2
description    None
Name: 268, dtype: object
id              270
gene_symbol     Rb1
species_fk        2
description    None
Name: 269, dtype: object
id               271
gene_symbol    Il1r1
species_fk         2
description     None
Name: 270, dtype: object
id               272
gene_symbol    Dnmt1
species_fk         2
description     None
Name: 271, dtype: object
id               273
gene_symbol    Hspb1
species_fk         2
description     None
Name: 272, dtype: object
id              274
gene_symbol    Ets2
species_fk        2
description    None
Name: 273, dtype: object
id              275
gene_symbol    Cdh2
species_fk        2
description    None
Name: 274, dtype: object
id               276
gene_symbol    Ntrk2
species_fk         2
description     None
Name: 275, dtype: object
id              277
gene_symbol     Rho
species_fk        2
description    None
Name: 276, dtype: object
id               278
gene_symbol    Cd79b
species_fk         2
description     None
Name: 277, dtype: object
id               279
gene_symbol    Prkce
species_fk         2
description     None
Name: 278, dtype: object
id              280
gene_symbol    Atf2
species_fk        2
description    None
Name: 279, dtype: object
id               281
gene_symbol    Hmga1
species_fk         2
description     None
Name: 280, dtype: object
id              282
gene_symbol    Spi1
species_fk        2
description    None
Name: 281, dtype: object
id              283
gene_symbol    Pcna
species_fk        2
description    None
Name: 282, dtype: object
id               284
gene_symbol    Ptpra
species_fk         2
description     None
Name: 283, dtype: object
id               285
gene_symbol    Hmgn1
species_fk         2
description     None
Name: 284, dtype: object
id                 286
gene_symbol    Rps6ka3
species_fk           2
description       None
Name: 285, dtype: object
id              287
gene_symbol    Lsp1
species_fk        2
description    None
Name: 286, dtype: object
id              288
gene_symbol     Vim
species_fk        2
description    None
Name: 287, dtype: object
id               289
gene_symbol    Prkca
species_fk         2
description     None
Name: 288, dtype: object
id              290
gene_symbol    Tal1
species_fk        2
description    None
Name: 289, dtype: object
id              291
gene_symbol     Cbl
species_fk        2
description    None
Name: 290, dtype: object
id                292
gene_symbol    Gabrg2
species_fk          2
description      None
Name: 291, dtype: object
id               293
gene_symbol    Zfp36
species_fk         2
description     None
Name: 292, dtype: object
id              294
gene_symbol    Gja1
species_fk        2
description    None
Name: 293, dtype: object
id              295
gene_symbol    Mdm2
species_fk        2
description    None
Name: 294, dtype: object
id              296
gene_symbol      Th
species_fk        2
description    None
Name: 295, dtype: object
id              297
gene_symbol     Tec
species_fk        2
description    None
Name: 296, dtype: object
id                  298
gene_symbol    Tnfrsf1a
species_fk            2
description        None
Name: 297, dtype: object
id              299
gene_symbol    Mcm3
species_fk        2
description    None
Name: 298, dtype: object
id               300
gene_symbol    Ccnd1
species_fk         2
description     None
Name: 299, dtype: object
id              301
gene_symbol    Ubtf
species_fk        2
description    None
Name: 300, dtype: object
id              302
gene_symbol     Ezr
species_fk        2
description    None
Name: 301, dtype: object
id              303
gene_symbol     Msn
species_fk        2
description    None
Name: 302, dtype: object
id              304
gene_symbol     Rdx
species_fk        2
description    None
Name: 303, dtype: object
id                305
gene_symbol    Pik3r1
species_fk          2
description      None
Name: 304, dtype: object
id                306
gene_symbol    Marcks
species_fk          2
description      None
Name: 305, dtype: object
id                307
gene_symbol    Csf2rb
species_fk          2
description      None
Name: 306, dtype: object
id              308
gene_symbol    Ets1
species_fk        2
description    None
Name: 307, dtype: object
id               309
gene_symbol    H2afx
species_fk         2
description     None
Name: 308, dtype: object
id                 310
gene_symbol    Rasgrf1
species_fk           2
description       None
Name: 309, dtype: object
id              311
gene_symbol    Crem
species_fk        2
description    None
Name: 310, dtype: object
id              312
gene_symbol    Vav1
species_fk        2
description    None
Name: 311, dtype: object
id               313
gene_symbol    Cebpb
species_fk         2
description     None
Name: 312, dtype: object
id               314
gene_symbol    Apex1
species_fk         2
description     None
Name: 313, dtype: object
id               315
gene_symbol    Dusp1
species_fk         2
description     None
Name: 314, dtype: object
id                316
gene_symbol    Camk2b
species_fk          2
description      None
Name: 315, dtype: object
id                  317
gene_symbol    Marcksl1
species_fk            2
description        None
Name: 316, dtype: object
id              318
gene_symbol    Rxra
species_fk        2
description    None
Name: 317, dtype: object
id               319
gene_symbol    Prkcd
species_fk         2
description     None
Name: 318, dtype: object
id               320
gene_symbol    Tead1
species_fk         2
description     None
Name: 319, dtype: object
id              321
gene_symbol     Ahr
species_fk        2
description    None
Name: 320, dtype: object
id              322
gene_symbol     Des
species_fk        2
description    None
Name: 321, dtype: object
id                 323
gene_symbol    Nectin2
species_fk           2
description       None
Name: 322, dtype: object
id               324
gene_symbol    Nr5a1
species_fk         2
description     None
Name: 323, dtype: object
id               325
gene_symbol    Oprk1
species_fk         2
description     None
Name: 324, dtype: object
id              326
gene_symbol    Ptk2
species_fk        2
description    None
Name: 325, dtype: object
id                327
gene_symbol    Ptpn11
species_fk          2
description      None
Name: 326, dtype: object
id               328
gene_symbol    Pdha1
species_fk         2
description     None
Name: 327, dtype: object
id              329
gene_symbol    Canx
species_fk        2
description    None
Name: 328, dtype: object
id              330
gene_symbol    Irs1
species_fk        2
description    None
Name: 329, dtype: object
id               331
gene_symbol    Ddit3
species_fk         2
description     None
Name: 330, dtype: object
id              332
gene_symbol     Btk
species_fk        2
description    None
Name: 331, dtype: object
id              333
gene_symbol    Hsf1
species_fk        2
description    None
Name: 332, dtype: object
id              334
gene_symbol    Elk1
species_fk        2
description    None
Name: 333, dtype: object
id              335
gene_symbol    Elk3
species_fk        2
description    None
Name: 334, dtype: object
id               336
gene_symbol    Stat1
species_fk         2
description     None
Name: 335, dtype: object
id               337
gene_symbol    Stat3
species_fk         2
description     None
Name: 336, dtype: object
id               338
gene_symbol    Stat4
species_fk         2
description     None
Name: 337, dtype: object
id                339
gene_symbol    Stat5a
species_fk          2
description      None
Name: 338, dtype: object
id               340
gene_symbol    Eps15
species_fk         2
description     None
Name: 339, dtype: object
id              341
gene_symbol     Txk
species_fk        2
description    None
Name: 340, dtype: object
id                342
gene_symbol    Crebbp
species_fk          2
description      None
Name: 341, dtype: object
id              343
gene_symbol    Syt2
species_fk        2
description    None
Name: 342, dtype: object
id                344
gene_symbol    Cdkn1b
species_fk          2
description      None
Name: 343, dtype: object
id              345
gene_symbol     Nsf
species_fk        2
description    None
Name: 344, dtype: object
id               346
gene_symbol    Nedd4
species_fk         2
description     None
Name: 345, dtype: object
id                 347
gene_symbol    Pla2g4a
species_fk           2
description       None
Name: 346, dtype: object
id              348
gene_symbol    Lepr
species_fk        2
description    None
Name: 347, dtype: object
id              349
gene_symbol    Lmna
species_fk        2
description    None
Name: 348, dtype: object
id               350
gene_symbol    Tnni3
species_fk         2
description     None
Name: 349, dtype: object
id               351
gene_symbol    Mybl2
species_fk         2
description     None
Name: 350, dtype: object
id               352
gene_symbol    Nr2c2
species_fk         2
description     None
Name: 351, dtype: object
id               353
gene_symbol    Ppm1a
species_fk         2
description     None
Name: 352, dtype: object
id              354
gene_symbol    Mcm4
species_fk        2
description    None
Name: 353, dtype: object
id              355
gene_symbol    Cav1
species_fk        2
description    None
Name: 354, dtype: object
id                356
gene_symbol    Gabrb1
species_fk          2
description      None
Name: 355, dtype: object
id               357
gene_symbol    Tnnt2
species_fk         2
description     None
Name: 356, dtype: object
id              358
gene_symbol    Pdx1
species_fk        2
description    None
Name: 357, dtype: object
id               359
gene_symbol    Cebpa
species_fk         2
description     None
Name: 358, dtype: object
id                360
gene_symbol    Pitpna
species_fk          2
description      None
Name: 359, dtype: object
id                361
gene_symbol    Pitpnb
species_fk          2
description      None
Name: 360, dtype: object
id               362
gene_symbol    Stmn1
species_fk         2
description     None
Name: 361, dtype: object
id                 363
gene_symbol    Slc12a2
species_fk           2
description       None
Name: 362, dtype: object
id                364
gene_symbol    Arpp19
species_fk          2
description      None
Name: 363, dtype: object
id               365
gene_symbol    Eef1d
species_fk         2
description     None
Name: 364, dtype: object
id              366
gene_symbol    Tpm1
species_fk        2
description    None
Name: 365, dtype: object
id              367
gene_symbol    Tpm2
species_fk        2
description    None
Name: 366, dtype: object
id                368
gene_symbol    Snap25
species_fk          2
description      None
Name: 367, dtype: object
id              369
gene_symbol     Pln
species_fk        2
description    None
Name: 368, dtype: object
id              370
gene_symbol    Pax6
species_fk        2
description    None
Name: 369, dtype: object
id              371
gene_symbol    Thra
species_fk        2
description    None
Name: 370, dtype: object
id               372
gene_symbol    Eif4e
species_fk         2
description     None
Name: 371, dtype: object
id               373
gene_symbol    Mapk1
species_fk         2
description     None
Name: 372, dtype: object
id                374
gene_symbol    Dynll1
species_fk          2
description      None
Name: 373, dtype: object
id               375
gene_symbol    Prkcg
species_fk         2
description     None
Name: 374, dtype: object
id                376
gene_symbol    Tuba1a
species_fk          2
description      None
Name: 375, dtype: object
id               377
gene_symbol    Prkcb
species_fk         2
description     None
Name: 376, dtype: object
id                  378
gene_symbol    Hist1h3i
species_fk            2
description        None
Name: 377, dtype: object
id               379
gene_symbol    Cpeb1
species_fk         2
description     None
Name: 378, dtype: object
id                380
gene_symbol    Pfkfb2
species_fk          2
description      None
Name: 379, dtype: object
id              381
gene_symbol    Dlx5
species_fk        2
description    None
Name: 380, dtype: object
id              382
gene_symbol     Bid
species_fk        2
description    None
Name: 381, dtype: object
id              383
gene_symbol    Vasp
species_fk        2
description    None
Name: 382, dtype: object
id              384
gene_symbol    Irs2
species_fk        2
description    None
Name: 383, dtype: object
id               385
gene_symbol    Tubg1
species_fk         2
description     None
Name: 384, dtype: object
id                   386
gene_symbol    Hist2h3c2
species_fk             2
description         None
Name: 385, dtype: object
id               387
gene_symbol    H3f3b
species_fk         2
description     None
Name: 386, dtype: object
id              388
gene_symbol    Dab1
species_fk        2
description    None
Name: 387, dtype: object
id              389
gene_symbol    Dok1
species_fk        2
description    None
Name: 388, dtype: object
id               390
gene_symbol    Smad4
species_fk         2
description     None
Name: 389, dtype: object
id                391
gene_symbol    Lilrb3

In [209]:
source_fk.drop_duplicates(inplace = True)
source_fk

            source  species_id   id    gene_symbol  species_fk description
0            Gsk3B           2    1          Gsk3B           2        None
1        Pka_Group           2    2      Pka_Group           2        None
2             Pkg1           2    3           Pkg1           2        None
3           Camk2D           2    4         Camk2D           2        None
6        Ck2_Group           2    5      Ck2_Group           2        None
7            Rock1           2    6          Rock1           2        None
8        Pkc_Group           2    7      Pkc_Group           2        None
9             Cdk5           2    8           Cdk5           2        None
10            Pak2           2    9           Pak2           2        None
11            Tyk2           2   10           Tyk2           2        None
12   Autocatalysis           2   11  Autocatalysis           2        None
13           Epha8           2   12          Epha8           2        None
15            Melk           2   13           Melk           2        None
16          Map3K6           2   14         Map3K6           2        None
17          Map3K5           2   15         Map3K5           2        None
18            Akt1           2   16           Akt1           2        None
19             Atm           2   17            Atm           2        None
20             Atr           2   18            Atr           2        None
22            Akt2           2   19           Akt2           2        None
24           Hipk1           2   20          Hipk1           2        None
26            Ck1E           2   21           Ck1E           2        None
27           Dapk3           2   22          Dapk3           2        None
28           Tssk1           2   23          Tssk1           2        None
29           Tssk2           2   24          Tssk2           2        None
30            Jnk1           2   25           Jnk1           2        None
31            Jnk2           2   26           Jnk2           2        None
32            Jnk3           2   27           Jnk3           2        None
33      Mapk_Group           2   28     Mapk_Group           2        None
35           Zap70           2   29          Zap70           2        None
37            P38B           2   30           P38B           2        None
..             ...         ...  ...            ...         ...         ...
517         P70S6K           2  180         P70S6K           2        None
518           Pkct           2  181           Pkct           2        None
522           Pkg2           2  182           Pkg2           2        None
529         Map2K7           2  183         Map2K7           2        None
530         Map2K4           2  184         Map2K4           2        None
534         Map3K7           2  185         Map3K7           2        None
536           P38D           2  186           P38D           2        None
544          Dyrk2           2  187          Dyrk2           2        None
553           Erk5           2  188           Erk5           2        None
554         Tgfbr1           2  189         Tgfbr1           2        None
557           Plk4           2  190           Plk4           2        None
593           Nek6           2  191           Nek6           2        None
599          Fgfr1           2  192          Fgfr1           2        None
603           Wnk4           2  193           Wnk4           2        None
635           Fak1           2  194           Fak1           2        None
639            Brk           2  195            Brk           2        None
642          Dyrk3           2  196          Dyrk3           2        None
643         Dyrk1A           2  197         Dyrk1A           2        None
647          Chak1           2  198          Chak1           2        None
657         Camlck           2  199         Camlck           2        None
658           Crik           2  200           Crik           2        None
661          Tssk3           2  201          Tssk3           2        None
673           Cdk3           2  202           Cdk3           2        None
679           Sgk3           2  203           Sgk3           2        None
680          Dclk1           2  204          Dclk1           2        None
683           Pyk2           2  205           Pyk2           2        None
687           Fak2           2  206           Fak2           2        None
698           Ikke           2  207           Ikke           2        None
734      Src_Group           2  208      Src_Group           2        None
743      Pkd_Group           2  209      Pkd_Group           2        None

[209 rows x 6 columns]

In [210]:

target_fk = pairs.merge(genes_df, left_on='target', right_on='gene_symbol', how='left')
target_fk.drop_duplicates(['source','target'], inplace = True)
target_fk.drop(['source', 'target', 'species_id', 
                       'gene_symbol', 'species_fk', 'description'], axis=1, inplace=True)

interactions=pd.concat([source_fk, target_fk], axis = 1)
#For now, include 'fake' submission_fk for testing purposes - CHANGE LATER
submissions = pd.DataFrame()
submissions = submissions.append([{
    'id':1,
    'submission_name': 'HPRD SIG',
    'submission_type_fk':1,
    'resource_fk': 4

}], ignore_index = True)

submission_fk = 1

interactions.insert(2, 'submission_fk', submission_fk)
interactions.tail()

,source,species_id,submission_fk,id,gene_symbol,species_fk,description,id
743,Pkd_Group,2.0,1,209.0,Pkd_Group,2.0,None,573.0
744,NaN,NaN,1,NaN,NaN,NaN,NaN,573.0
745,NaN,NaN,1,NaN,NaN,NaN,NaN,573.0
746,NaN,NaN,1,NaN,NaN,NaN,NaN,574.0
747,NaN,NaN,1,NaN,NaN,NaN,NaN,575.0

In [211]:
target_fk = pairs.merge(genes_df, left_on='target', right_on='gene_symbol', how='left')
target_fk

,source,target,species_id,id,gene_symbol,species_fk,description
0,Gsk3B,Arhgap31,2,210.0,Arhgap31,2.0,None
1,Pka_Group,Ryr1,2,211.0,Ryr1,2.0,None
2,Pkg1,Ryr1,2,211.0,Ryr1,2.0,None
3,Camk2D,Ryr2,2,212.0,Ryr2,2.0,None
4,Gsk3B,Dpysl2,2,213.0,Dpysl2,2.0,None
5,Gsk3B,Pten,2,214.0,Pten,2.0,None
6,Ck2_Group,Pten,2,214.0,Pten,2.0,None
7,Rock1,Pten,2,214.0,Pten,2.0,None
8,Pkc_Group,Stxbp1,2,215.0,Stxbp1,2.0,None
9,Cdk5,Stxbp1,2,215.0,Stxbp1,2.0,None
10,Pak2,Mknk1,2,216.0,Mknk1,2.0,None
11,Tyk2,Il13ra1,2,217.0,Il13ra1,2.0,None
12,Autocatalysis,Epha8,2,12.0,Epha8,2.0,None
13,Epha8,Epha8,2,12.0,Epha8,2.0,None
14,Autocatalysis,Map3k5,2,NaN,NaN,NaN,NaN
15,Melk,Map3k5,2,NaN,NaN,NaN,NaN
16,Map3K6,Map3k5,2,NaN,NaN,NaN,NaN
17,Map3K5,Map3k5,2,NaN,NaN,NaN,NaN
18,Akt1,Chek1,2,218.0,Chek1,2.0,None
19,Atm,Chek1,2,218.0,Chek1,2.0,None
20,Atr,Chek1,2,218.0,Chek1,2.0,None
21,Autocatalysis,Clk2,2,219.0,Clk2,2.0,None
22,Akt2,Clk2,2,219.0,Clk2,2.0,None
23,Gsk3B,Notch2,2,220.0,Notch2,2.0,None
24,Hipk1,Daxx,2,221.0,Daxx,2.0,None
25,Gsk3B,Axin1,2,222.0,Axin1,2.0,None
26,Ck1E,Per1,2,223.0,Per1,2.0,None
27,Dapk3,Dapk3,2,22.0,Dapk3,2.0,None
28,Tssk1,Tsks,2,224.0,Tsks,2.0,None
29,Tssk2,Tsks,2,224.0,Tsks,2.0,None
...,...,...,...,...,...,...,...
718,Map2K7,Mapk9,2,556.0,Mapk9,2.0,None
719,Map2K4,Mapk9,2,556.0,Mapk9,2.0,None
720,Cdc2,Incenp,2,557.0,Incenp,2.0,None
721,Cdk2,Mcm3ap,2,558.0,Mcm3ap,2.0,None
722,Akt1,Gsk3b,2,NaN,NaN,NaN,NaN
723,Rsk2,Gsk3b,2,NaN,NaN,NaN,NaN
724,Sgk3,Gsk3b,2,NaN,NaN,NaN,NaN
725,Pkaca,Gsk3b,2,NaN,NaN,NaN,NaN
726,Akt2,Stxbp4,2,559.0,Stxbp4,2.0,None
727,Src,Cav2,2,560.0,Cav2,2.0,None
728,Pkb_Group,Foxo4,2,561.0,Foxo4,2.0,None
729,Pkaca,Kcnd2,2,562.0,Kcnd2,2.0,None
730,Ikkb,Nfkbia,2,563.0,Nfkbia,2.0,None
731,Ikke,Nfkbia,2,563.0,Nfkbia,2.0,None
732,Ck2A1,Nfkbia,2,563.0,Nfkbia,2.0,None
733,Ampk_Group,Gys1,2,564.0,Gys1,2.0,None
734,Src_Group,Gab2,2,565.0,Gab2,2.0,None
735,Stlk3,Stk39,2,566.0,Stk39,2.0,None
736,Src,Trip6,2,567.0,Trip6,2.0,None
737,Pka_Group,Snapin,2,568.0,Snapin,2.0,None
738,Pkct,Pdpk1,2,569.0,Pdpk1,2.0,None
739,Camk2_Group,Mecp2,2,570.0,Mecp2,2.0,None
740,Pkg1,Ppp1r17,2,571.0,Ppp1r17,2.0,None
741,Autocatalysis,Eif2ak1,2,572.0,Eif2ak1,2.0,None
742,Camk1_Group,Hdac5,2,573.0,Hdac5,2.0,None
743,Pkd_Group,Hdac5,2,573.0,Hdac5,2.0,None
744,Pkd1,Hdac5,2,573.0,Hdac5,2.0,None
745,Ampk_Group,Hdac5,2,573.0,Hdac5,2.0,None
746,Autocatalysis,Stk25,2,574.0,Stk25,2.0,None
747,Pka_Group,Itpr2,2,575.0,Itpr2,2.0,None

In [127]:
i = SIG_to_Genes(sig)

/home/maayanlab/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [128]:
i.to_sql('interactions', con=engine, if_exists='replace', index=True)

In [129]:
resources = pd.read_excel("resources_file.xlsm")
#resources.to_sql('resources', con=engine, if_exists='replace', index=False)

In [130]:
insert = "INSERT INTO resources (db_name, db_url) VALUES"+ ', '.join(['("{db_name}", "{db_url}")'.format(**rowData) for index, rowData in resources.iterrows()])

engine.execute(insert)

In [131]:
resources.head()

       db_name                                        db_url
0  Phospho.ELM          http://phospho.elm.eu.org/index.html
1  PhosphoSite  http://www.phosphosite.org/homeAction.action
2      RegPhos              http://140.138.144.141/~RegPhos/
3    NetworKIN                        http://networkin.info/
4         HPRD                              http://hprd.org/

In [132]:
insert_s = "INSERT INTO submissions (submission_name, submission_type_fk, resource_fk) VALUES"+ ', '.join(['("{submission_name}", {submission_type_fk}, {resource_fk})'.format(**rowData) for index, rowData in submissions.iterrows()])

#For now, include 'fake' submission_fk for testing purposes - CHANGE LATER
submissions = pd.DataFrame()
submissions = submissions.append([{
    'submission_name': 'HPRD SIG',
    'submission_type_fk':1,
    'resource_fk': 4

}], ignore_index = True)

engine.execute(insert_s)

In [133]:
#if SIG was initial input, convert it back to a GMT file
#ADD CODE HERE